<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"><title>Confirmar compra</title>
    <link rel="stylesheet" th:href="@{/css/purchase.css}">
</head>
<body>
<div class="container">
    <div class="image-side">
        <img th:if="${car.imagePath != null}"
             th:src="@{'/images/' + ${car.imagePath}}"/>
    </div>
</div>



<div th:if="${car != null}" class="info-side">
    <div>
        <div class="car-info">
            <div>
                <a class="value" th:href="@{/cars}">Voltar</a>
            </div>
            <div>
                <span th:text="${car.brand + ' ' + car.model}" class="title"></span>
                <div class="clear"></div>
            </div>
            <div>
                <span>Preço</span>
                <span th:text="${car.price}" class="value">€</span>
                <div class="clear"></div>
            </div>
            <div>
                <span>Stock</span>
                <span th:text="${car.stock}" class="value"></span>
                <div class="clear"></div>
            </div>
            <div>
                <form th:action="@{/buy}" method="post" class="info-list">
                    <input type="hidden" name="carId" th:value="${car.id}"/>
                    <div class="inline-group">
                        <span>Quantidade</span>
                        <input type="number" name="quantity" value="1" min="1" th:attr="max=${car.stock}" required/>
                    </div>
                    <button type="submit" class="location-button">
                        Confirmar compra
                    </button>
                </form>
                <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>